/* resetting CSS styleing */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

/* General CSS styling */

body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {

}

main {

}

section {

}

article {
	
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {

}

h3 {

}

p {
	
}

label {

}

input {

}

a {

}

img {

}

.wrapper-main {
	background-color: #ffffff;
}

.title {

}

.content {

}

.footer {
	right: 0;
	left: 0;
    bottom: 0;
    position: fixed;
    background-color: #666666;
    height: 50px;
}

/* General styling end */

/* navigation bar css styling */

.head {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-header {
	margin-left: 10%;
	background-color: #4aaaa5
}

.head .nav-bar {
	width: 200px;
	margin-right: 10%;
}

.nav-bar .nav-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav-bar .about-link {

}

.nav-bar .contact-link {
	
}

.nav-bar .portfolio-link {
	
}

/* navigation bar styling end */

/* About page css styling */

.profile-picture-and-bio {

}

.biography {

}

/* About page styling end */

/* Contact page css styling */

.submission-form {
	
}

.submission-form .name {

}

.submission-form .name-input {
	
}

.submission-form .email {

}

.submission-form .email-input {

}

.submission-form .message {

}

.submission-form .message-input {

}

.submission-form .submit-button {

}

/* Contact page styling end */

/* Portfolio page CSS styling */

.portfolio-display-row {

}

.project {

}

.project-link {

}

.project-image {

}

.project-title {

}

/* Portfolio page styling end */